/* CSS HEX */
/* --bistre: #402315ff;
--baby-powder: #FDFDF5ff;
--smoky-black: #0D0D09ff;
--battleship-gray: #999897ff;
--gunmetal: #232C3Bff; */



body {
  margin: 0;
  background-color: #FEFBECff;
  background-image: url(styles/pexels-rachel-claire-5864245.jpg);
  font-family: 'Merriweather';
  background-size:170%;
  background-repeat: no-repeat;
}

input, select, button{
  font-family: inherit;
  font-size: inherit;
}
